button{
  font-size: 32px;
}
.image, #button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#guessPhrase, #hiddenPhrase, #userInputForm{
  text-align: center;
  font-size: 48px;
}